<h2>Blog details</h2>

<div class="blog-item">
    <%- include('./_blog_info.ejs') %>
        <% if(user && user.local.role.name == 'moderator'){ %>
            <div class="btn-row">
                <a class="btn entr-btn" href="/blog/edit/<%= blog.id %>">Edit Blog</a>
                <a class="btn danger-btn" href="/blog/delete/<%= blog.id %>">Delete Blog</a>
            </div>
        <% } %>
</div>


<% if(blog.comments.length> 0){ %>
    <div class="comment-container">
        <h3>Comments</h3>
        <% blog.comments.forEach(comment=> { %>

            <div class="comment-item">
                <h3>
                    Name
                    <%= comment.user.local.firstName %>
                    Date: 
                    <%= comment.date.toDateString() %>
                </h3>
                <p>
                    <%= comment.content %>
                </p>
                <% if(user && user.local.username === comment.user.local.username){ %>
                    <form method="POST" action="/comment/<%= comment.id %>/<%= blog.id %>?_method=DELETE">
                        <input hidden name="blogId" value="<%= blog.id %>">
                        <button class="btn danger-btn" type="submit">Delete Comment</button>
                    </form>    
                <% } %>     
            </div>
        <% }); %>
    </div>

    <% } else { %>
        <p> No comments yet</p>
    <% } %>

    <% if(user){ %>
        <form class="auth-form" action="/comment/create" method="POST">
            <h2>Post a comment</h2>
            <textarea name="comment" required></textarea>
            <input hidden name="blogId" value="<%= blog.id %>">
            <div class="btn-row">
                <button class="btn entr-btn" type="submitt">Post</button>
            </div>
        </form>
    <% } %>