<div class="timeline">
    <% experience.forEach((exp, index) => { %>
        <% let side = (index % 2 == 1) ? "left" : "right" %>
        <div class="container <%= side %>">
            <div class="content">
                <h4><%= exp.institute %></h4>
                <p><%= exp.status %></p>
                <p><%= exp.dates %></p>
                <p><%= exp.desc %></p> 
            </div>
        </div>
    <% }); %>
</div>